extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
        +box-head("Danh sách sản phẩm")

    .row
      //- Bắt đầu vòng lặp: Duyệt qua từng sản phẩm trong danh sách
      each item in products
        .col-4.mb-3
          .product-item
            .inner-image
              img(src=item.thumbnail, alt=item.title)
            .inner-content
              h3.inner-title #{item.title}
              
              //- Tính toán giá mới: Giá gốc - (Giá gốc * %giảm / 100)
              //- .toFixed(0) để làm tròn số cho đẹp
              .inner-price-new #{item.priceNew}$
              
              //- Hiển thị giá gốc (bị gạch ngang)
              .inner-price-old #{item.price}$
              
              //- Hiển thị % giảm giá
              .inner-discount -#{item.discountPercentage}%